#Category {
    width: 200px;
    height: 100vh;
    position: relative;

    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #theme {
        background-color: $color-primary-300;
        width: 24px;
        height: 12px;
        border-radius: 12px;
        position: relative;
        cursor: pointer;

        div {
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            position: absolute;
            top: 3px;
            left: 3px;
        }

        input {
            visibility: hidden;

            &:checked + div {
                left: unset;
                right: 3px;
            }
        }
    }

    h1 {
        font-weight: 800;
        font-size: 30px;
    }

    .scrollbarCol {
        height: calc(100% - 55px - 58px);
    }

    .List {
        margin: 25px 0;
    }

    .vice-title {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        font-size: 14px;

        &:hover {
            color: $color-primary-300;
        }
    }

    ul {
        margin: 19px 0;
        font-size: 16px;
    }

    li {
        padding: 10px 0;
        cursor: pointer;

        &:last-child {
            margin: 0;
        }

        &:hover {
            color: $color-primary-300;
        }

        &.active {
            color: $color-primary-300;
            margin: 0 -24px;
            padding: 10px 24px;
            position: relative;

            &:before {
                content: '';
                display: inline-block;
                width: 4px;
                height: 38px;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    i {
        margin-right: 8px;
    }

    & > div:last-child {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: $color-primary-300;
    }
}
