#Directory {
    width: 25vw;
    min-width: 350px;
    height: 100vh;

    #Tool {
        display: flex;
        justify-content: space-between;

        i {
            margin-right: 24px;
            font-size: 18px;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }

            &.unactive {
                color: $color-b-primary-400;
            }
        }
    }

    #Items {
        & > div {
            box-sizing: border-box;
            border-bottom: 1px solid $color-b-primary-400;
        }

        h3 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        p {
            line-height: 18px;
            font-size: 16px;
            opacity: 0.5;
        }
    }
}
