.gray-back {
    background-color: $color-b-primary-600;
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .modal-content {
        border-radius: 5px;
        max-width: 80vw;
        min-width: 250px;
        overflow: hidden;

        .content {
            width: 100%;
        }

        .content_row,
        .content_column {
            width: 100%;
            display: inline-flex;
        }

        .content_row {
            flex-direction: row;
            align-items: center;

            .btn-outline {
                margin-left: 10px;
            }
        }

        .content_column {
            flex-direction: column;

            .btn-outline {
                align-self: flex-end;
            }
        }
    }

    .msg-content {
        width: 20vw;
        min-width: 250px;

        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            svg {
                // color: $color-primary-500;
                font-size: 100px;
                margin-bottom: 10px;
                &.fa-circle-notch {
                    font-size: 30px;
                }
            }
        }
    }

    & > div {
        border-radius: 3px;
        overflow: hidden;

        .title-block {
            max-width: 80vw;
            color: $color-b-primary-300;
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 18px;
            padding: 10px;
            position: relative;

            i {
                position: absolute;
                right: 5px;
                top: 10px;
                cursor: pointer;
                transform: rotate(45deg);
            }
        }

        .content {
            padding: 20px;
        }
    }

    label {
        display: block;

        input,
        select {
            display: block;
            margin: 5px 0 20px 0;
            width: 100%;
            font-size: 15px;
        }

        span {
            opacity: 0.7;
            font-size: 14px;
        }
    }
}
