// black theme
$color-b-primary-300: #ffffff;
$color-b-primary-400: #dddddd;
$color-b-primary-500: #a5a5a5;
$color-b-primary-600: #00000034;
$color-b-primary-700: #292b2e;
$color-b-primary-800: #000000;

$color-b-hilight-300: #ffce00;
$color-b-hilight-400: #32a310;

// green theme
$color-g-primary-300: #ffffff;
$color-g-primary-400: #5d6a48;
$color-g-primary-500: #42523d;
$color-g-primary-600: #333926;
$color-g-primary-700: #000000;

$color-g-hilight-300: #ffce00;
$color-g-hilight-400: #00ff93;
