@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../../assets/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../../assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../../assets/fonts/Roboto-Bold.ttf');
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#Wrap {
    display: flex;
    flex-direction: row;
}

.content {
    padding: 30px 24px;
}
