.scrollbarCol,
.scrollbarRow {
    overflow-y: overlay;
    height: 100%;

    &::-webkit-scrollbar-thumb {
        background-color: $color-b-primary-500;
    }
}

.scrollbarCol {
    &::-webkit-scrollbar {
        width: 4px;
    }
}

.scrollbarRow {
    &::-webkit-scrollbar {
        height: 8px;
    }
}
