.Black {
    .btn-outline {
        border: 1px solid $color-b-primary-700;

        &:hover {
            background-color: $color-b-primary-300;
        }
    }

    .input-text {
        border-bottom: 1px solid $color-b-primary-700;
    }

    select {
        border-bottom: 1px solid $color-b-primary-700;
    }

    #theme {
        div {
            background-color: $color-b-primary-800;
        }
    }

    &.gray-back {
        .modal-content,
        .msg-content {
            background-color: $color-primary-300;
        }

        .title-block {
            background-color: $color-b-primary-700;
        }

        .content {
            color: $color-b-primary-700;
        }
    }

    #Category {
        background-color: $color-b-primary-700;
        color: $color-b-primary-500;

        li.active {
            background-color: $color-b-primary-800;

            &:before {
                background-color: $color-b-hilight-400;
            }
        }

        & > div:last-child {
            border-top: 0.75px solid $color-primary-300;
        }
    }

    #Directory {
        border-right: 1px solid $color-b-primary-400;

        #Tool {
            border-bottom: 1px solid $color-b-primary-400;
        }

        #Items {
            & > div:hover,
            & > div.active {
                background-color: $color-b-primary-300;

                &:before {
                    background-color: $color-b-hilight-400;
                }
            }

            i {
                color: $color-b-hilight-300;
            }
        }
    }
}
